@charset "UTF-8";

/*CORES
 cor 1: #000000 preto
 cor 2: #FFFFFF branco
 cor 3: #F2CB05 amarelo
 cor 4: #F29F05 laranja claro
 cor 5: #F27405 laranja escuro
 */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    background-color: black;
    color: #F27405;
    justify-content: space-between;
    padding: 20px;
    font-family: "Archivo Black", sans-serif;
}

span.material-symbols-outlined{
    color: white;
    font-size: 2em;
}

header{
   background: black url(imagens/pexels-bemistermister-3490363.jpg) center center no-repeat;
   background-size: cover;
   height: 600px;
   background-attachment: scroll;
   font-family: "Archivo Black", sans-serif;
}

header h1{
    color: white;
    text-align: center;
    padding-top: 150px;
    font-size: clamp(2rem, 5vw, 3.5rem);
    flex-wrap: wrap;
}

header #obj strong{
    color: #F27405;
}

header #obj{
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header p{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 3.5vw, 1.1rem);
}

div.links1{
     padding-top: 30px;
}

header a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

#comecar{
    background-color: #F27405;
    max-width: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 10px #f27405b2;
}

#visita{
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid white;
    max-width: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 40px;
}

#comecar:hover{
    box-shadow: 3px 4px 20px #fa7500;
    transition: box-shadow .5s ease, transform .5s ease;
    transform: translate(0px, -3px);
}

#visita:hover{
    background-color: white;
    color: #F27405;
    transition: background-color .4s ase, color .4s;
    transition: all .4s ease;
}

