@charset "UTF-8";

/*CORES
 cor 1: #1393DB azul claro 
 cor 2: #1076B1 azul claro escuro
 cor 3: #0D5F8F azul medio claro
 cor 4: #0A486D azul medio escuro
 cor 5: #07324B azul escuro
 */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    background-color: black;
    color: #0D5F8F;
    justify-content: space-between;
    padding: 20px;
    font-family: "Archivo Black", sans-serif;
}

span.material-symbols-outlined{
    color: white;
    font-size: 2em;
}

header{
   background: black url(imagens/pexels-bemistermister-3490363.jpg) center center no-repeat;
   background-size: cover;
   height: 800px;
   background-attachment: scroll;
   font-family: "Archivo Black", sans-serif;
}

header h1{
    color: white;
    text-align: center;
    padding-top: 150px;
    font-size: clamp(2rem, 5vw, 3.5rem);
    flex-wrap: wrap;
}

header #obj strong{
    color: #1c9ee9;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
}

header #obj{
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header p{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 3.5vw, 1.1rem);
    flex-wrap: wrap;
    padding: 30px;
    
}

div.links1{
     padding-top: 30px;
}

header a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

#comecar{
    background-color: #0D5F8F;
    max-width: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 10px #0e6699b2;
}

#visita{
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid white;
    max-width: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 40px;
}

#comecar:hover{
    box-shadow: 3px 4px 20px #0c6fa8;
    transition: box-shadow .5s ease, transform .5s ease;
    transform: translate(0px, -3px);
}

#visita:hover{
    background-color: white;
    color: #0D5F8F;
    transition: background-color .5s ease, color .5s ease;
}

main{
    background-color: white;
    height: 100vh;
}


#section1{

}

#section1 h2{
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 3rem);
    padding-top: 100px;
}

#section1 p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    font-size: clamp(1.2rem, 4vw, 1rem);
}

section.cards{
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.205);
    max-width: 400px;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.emoji{
    font-size: 3em;
   
}

#card1{
    margin: auto;
    text-align: center;
    padding: 10px;
}

#card1 h3{
    margin-top: 20px;
    font-family: "Archivo Black", sans-serif;
    max-width: 700px;
}

#card1 p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
