@charset "UTF-8";

/*CORES
 cor 1: #FFF212 amarelo
 cor 2: #FDC928 amarelo escuro
 cor 3: #F99F32 laranja
 cor 4: #FFFFFF branco
 cor 5: #000000 preto
 */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    background-color: black;
    color: #FFF212;
    justify-content: space-between;
    padding: 20px;
    font-family: "Archivo Black", sans-serif;
}

span.material-symbols-outlined{
    color: white;
    font-size: 2em;
}

header{
   background: url(imagens/pexels-bemistermister-3490363.jpg) center center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 800px;
   background-attachment: fixed;
   font-family: "Archivo Black", sans-serif;
}

header h1{
    color: white;
    text-align: center;
    padding-top: 150px;
    font-size: clamp(2rem, 5vw, 3.5rem);
    flex-wrap: wrap;
}

header #obj strong{
    color: #FFF212;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
}

header #obj{
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header p{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 3.5vw, 1.1rem);
    flex-wrap: wrap;
    padding: 30px;
    
}

div.links1{
     padding-top: 30px;
}

header h1,
header #obj,
header p,
header .links1 {
  opacity: 0;
  transform: translateY(14px) scale(0.985);
}


header a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

#comecar{
    background-color: #dfd413;
    max-width: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 10px #bdb40ea6;
}

#visita{
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid white;
    max-width: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 40px;
}

#comecar:hover{
    box-shadow: 3px 4px 20px #c9bf0fa6;
    transition: box-shadow .5s ease, transform .5s ease;
    transform: translate(0px, -3px);
}

#visita:hover{
    background-color: white;
    color: #0D5F8F;
    transition: background-color .5s ease, color .5s ease;
}

main{
    background-color: white;
    min-height: 100vh;
}

#section1 h2{
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 3rem);
    padding-top: 100px;
}

#section1 p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
    margin: auto;
    font-size: clamp(1.2rem, 4vw, 1rem);
}

section.cards{
    max-width: 900px;
    width: 90%;
    min-height: 300px;
    margin: auto;
    margin-top: 20px;
}

.emoji{
    font-size: 3.5em;
}

.card1{
     display: flex;
     flex-direction: column;
     justify-content: center; /* eixo vertical */
     align-items: center;     /* eixo horizontal */
     text-align: center;
     height: 100%;
     padding: 30px;
     background-color: white;
     box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.205);
     border-radius: 20px;
     margin-top: 40px;
     flex-wrap: wrap;
}

.card1:hover{
     box-shadow: 2px 2px 20px #c9bf0fa6;
     transition: box-shadow .5s;
}

.card1 h3{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
}

.card1 p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

section#planos{
    background-color: #1B1B1B;
    color: white;
    min-height: 100vh;
    margin-top: 50px;
}

section#planos > div{
   padding-top: 100px;
}

section#planos div h2{
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    padding-bottom: 30px;
    font-size: clamp(2rem, 5vw, 3.5rem);
}

section#planos div p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem, 3.2vw, 1rem);
}

.card2{
    background-color: white;
    color: black;
    max-width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    margin-top: 50px;
}

.card2:hover{
    box-shadow: 2px 2px 20px #c9c00faf;
    transition: box-shadow .5s;
}

.numeros{
  display: flex;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  font-size: 2em;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.moeda{
  font-size: 18px;
  margin-right: 4px;
}

.valor{
  font-size: 64px;
  font-weight: bold;
  line-height: 1;
}

.periodo{
  font-size: 16px;
  margin-left: 4px;
  margin-top: 50px;
}

.beneficios ul.lista{
    justify-content: flex-start;
    justify-items: flex-start;
    font-size: 0.7em;
    padding: 10px;
    padding-bottom: 50px;
    list-style: none;
}

hr{
    border-color: rgba(0, 0, 0, 0.096);
    height: 1px;
    width: 100%;
}

div.assinar{
    display: flex;
    padding: 20px;
}

div.assinar a{
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #1B1B1B;
    padding: 20px;
    border-radius: 40px;
    font-size: 0.7em;
}

.card2 a:hover{
    background-color: #1B1B1B;
    color: white;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}
